.Header {
    background-color: var(--blue);
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100vh;
    width: 100%;
    padding-top: 6rem;
    /* MAX */
    padding-right: 60px;
    padding-left: 60px;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    /* LOWER = min-width, UPPER = max-width */
    /* MINpx + (MAX - MIN) * (100vw - LOWERpx) / (UPPER - LOWER) */
    /* change calc formulas manually if any parameters change */

    .Header {
        padding-right: calc(20px + (60 - 20) * (100vw - 600px) / (900 - 600)); 
        padding-left: calc(20px + (60 - 20) * (100vw - 600px) / (900 - 600));
    }
}

@media only screen and (max-width: 600px) {
    .Header {
        /* MIN */
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media only screen and (max-width: 700px) {
    .Header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    }
}

.Header_title {
    color: var(--cyan);
    font-family: 'Baumans', monospace;
    font-weight: normal;
    /* MAX */
    /* 7vw at 900 px -> 900 * 0.07 = 63px */
    font-size: 7vw;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    /* LOWER = min-width, UPPER = max-width */
    /* MINpx + (MAX - MIN) * (100vw - LOWERpx) / (UPPER - LOWER) */
    /* change calc formulas manually if any parameters change */

    .Header_title {
        font-size: calc(41px + (63 - 41) * (100vw - 600px) / (900 - 600));
    }
}

@media only screen and (max-width: 600px) {
    .Header_title {
        /* MIN */
        font-size: 41px;
        margin-bottom: 1rem;
    }
}

.Header_subtitle {
    color: white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    font-family: 'Baumans', monospace;
    font-weight: normal;
    margin-bottom: 40px;
    /* MAX */
    /* 4.5vw at 900 px -> 900 * 0.045 = 40.5px */
    font-size: 4.5vw;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    /* LOWER = min-width, UPPER = max-width */
    /* MINpx + (MAX - MIN) * (100vw - LOWERpx) / (UPPER - LOWER) */
    /* change calc formulas manually if any parameters change */

    .Header_subtitle {
        font-size: calc(25px + (40.5 - 25) * (100vw - 600px) / (900 - 600));
    }
}

@media only screen and (max-width: 600px) {
    .Header_subtitle {
        /* MIN */
        font-size: 25px;
    }
}

.Header_box___image {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
}

.Header_image {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
}
