.Section___members {
    margin-right: 0;
    margin-left: 0;
}

.Section_content___members {
    display: flex;
    overflow: hidden;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.Member {
    background: var(--blue);
    border-left: 5px solid var(--cyan);
    color: white;
    width: 250px;
    height: 404px; /* approximately the width times the golden ratio */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    flex-shrink: 0;
    margin-left: 0.5rem;
}

.Member_photo {
    height: 318px; /* the width times the square root of the golden ratio */
}

.Member_text {
    padding: 1rem 0.5rem;
    text-align: center;
}

.Member_name {
    font-weight: bold;
    margin-bottom: 4px;
}

.Member_job {
    font-size: 16px; /* approximately 1rem divided by the square root of the golden ratio */
}

.Member_company {
    font-style: italic;
}