.Section___members {
    margin-right: 0;
    margin-left: 0;
}

.Section_content___members {
    display: flex;
    overflow: hidden;
    margin-top: 60px;
    margin-bottom: 60px;
}

.Member {
    background: var(--blue);
    border-left: 5px solid var(--cyan);
    color: white;
    height: 404px;
    width: 250px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    flex-shrink: 0;
    margin-left: 10px;
}

.Member_photo {
    height: 318px;
}

.Member_text {
    padding: 20px 10px;
    text-align: center;
}

.Member_name {
    font-weight: bold;
    margin-bottom: 4px;
}

.Member_job {
    font-size: 16px;
}

.Member_company {
    font-style: italic;
}