.Nav {
    background-color: white;
    border-bottom: 10px solid var(--cyan);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.Nav_box {
    display: flex;
}

.Nav_button {
    background-color: var(--blue);
    border: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    outline: none;
}

.Nav_logo {
    width: 100%;
}

.Nav_link {
    color: var(--blue);
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
}

.Nav_link___right {
    font-size: 16px;
}



/* Adapted from hover.css */

.hvr-outline-out___nav {
    border-radius: 4px;
    display: inline-block;
    outline: none;
    position: relative;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: border-radius;
    transition-timing-function: linear;
}

.hvr-outline-out___nav:hover,
.hvr-outline-out___nav:focus,
.hvr-outline-out___nav:active {
    border-radius: 0;
}

.hvr-outline-out___nav:before {
    content: '';
    border: var(--blue) solid 3px;
    border-radius: 4px;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition-duration: 0.3s;
    transition-property: opacity, top, right, bottom, left;
    transition-timing-function: linear;
}

.hvr-outline-out___nav:hover:before, 
.hvr-outline-out___nav:focus:before, 
.hvr-outline-out___nav:active:before {
    opacity: 1;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
}



.hvr-underline-out___nav {
    display: inline-block;
    outline: none;
    position: relative;
    transform: perspective(1px) translateZ(0);
}

.hvr-underline-out___nav:before {
    content: '';
    border-bottom: var(--blue) solid 2px;
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    transition-duration: 0.3s;
    transition-property: opacity, bottom;
    transition-timing-function: ease-in-out;
}

.hvr-underline-out___nav:hover:before, 
.hvr-underline-out___nav:focus:before, 
.hvr-underline-out___nav:active:before {
    opacity: 1;
    bottom: -4px;
}